* {
	font-family: verdana, dejavu sans, sans-serif;

}
p {
	background-color: lightpink;
}

#one	{
	font-size:  36px;
	color: blue;
}

#two	{
	font-size:  24px;
	font-weight: bold;
	background-color: lightgreen;
}

#three	{
	font-size:  24px;
}
